---
import IconMoon from 'virtual:icons/lucide/moon';
import IconSun from 'virtual:icons/lucide/sun?react';
import IconMaskExample from 'virtual:icons/my-icons/mask-example?react';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<IconMoon />
		<IconSun />
		<IconMaskExample width="2em" height="2em" />
		<IconMaskExample width="2em" height="2em" />
	</main>
</Layout>
