---
import IconMoon from 'virtual:icons/lucide/moon';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<IconMoon width="1.25rem" height="1.25rem" />
	</main>
</Layout>
